{{ partial "header.html" . }}
{{ range .Data.Pages }}
    <h2> <a href="{{ .RelPermalink }}">{{ .Title }}</a> </h2>
    <div class="meta">Publié le {{ .Date.Format "02/01/2006" }}</div>
    {{ .Summary }}
{{ end }}
{{ partial "footer.html" . }}
